html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'EB Garamond', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  color: #b09259;
  color: hsl(39, 50%, 38%);
  font-size: 18px;
}
h1 {
  font-size: 60px;
  font-weight: 100;
  letter-spacing: 0.15em;
  margin: 0;
}
h2 {
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin: 0.83em 0;
}
h3 {
  letter-spacing: 3px;
  font-size: 25px;
  font-weight: 500;
}
p {
  font-size: 18px;
  margin: 1em 0;
}

a {
  color: #b09259;
  color: hsl(39, 50%, 38%);
}

ul {
  padding-left: 20px;
}

ul > li {
  margin-bottom: 10px;
}

section {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

section:nth-child(odd) {
  background-color: rgb(223, 239, 242);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  padding: 50px;
  border-radius: 20px;
  animation: 1s ease-in fadein;
  margin: 15px;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
section.Intro {
  background-color: transparent;
}
section.Thanks {
  background-color: transparent;
}
.Intro .background {
  background: url('./flower.webp') no-repeat;
  background-size: cover;
  background-position-x: center;
}

.Thanks .background {
  background: url('./flower_dark.webp') no-repeat;
  background-size: cover;
  background-position-x: center;
}

.columns {
  max-width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 15vh;
}

.specialty {
  min-height: unset;
}

.inside {
  margin: 100px 0px;
}

.specialty h2 {
  text-align: center;
  margin: 0;
}

.specialty .columns {
  text-align: center;
  justify-content: center;
  column-gap: 15vw;
}
.specialty .column {
  column-gap: 100px;
}

.requirements {
  min-height: unset;
}

.requirements > .card {
  max-width: 600px;
  background-color: unset;
}

.upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.svg-center {
  margin: 50px auto 20px auto;
}

.svg-small {
  max-height: 20px;
}

.button-wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
  appearance: button;
  color: rgb(255, 255, 255);
  background: hsl(39, 50%, 38%);
  border: 0;
  min-width: 140px;
  min-height: 44px;
  border-radius: 0;
  font-size: 18px;
  text-transform: uppercase;
}

.columns img {
  max-width: 300px;
  margin-bottom: 30px;
}

.about .card {
  max-width: 800px;
}

.about .columns {
  max-width: unset;
}

@keyframes fadein {
  from {
    color: #fafafa;
  }
  to {
    color: #b09259;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 40px;
    font-weight: 100;
    letter-spacing: unset;
    text-align: center;
  }
  h2 {
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
  }
  h3 {
    font-size: 20px;
    text-align: center;
  }

  .columns {
    grid-template-columns: 1fr;
  }
  .columns img {
    max-width: 250px;
  }
}
